<div class="container">
    <a [routerLink]="'/'"><img src="../../../assets/images/logo-dois-cucas.png" alt="Logo-DoisCucas" class="mr-auto ml-auto d-block"></a>
    <h3 class="text-center mt-3 text-banner">Dieta de Doces Sem Açúcar</h3>
</div>
<a href="https://go.hotmart.com/E40378695B?ap=a8ea"><img src="../../../assets/images/banner-doces.png" alt="" class="w-100"></a>
<p class="text-center mt-4 text-banner"> Livre-se do açúcar da sua vida sem abandonar os doces! Preparamos um livro com diversas receitas deliciosas e fáceis de fazer, que não utilizam o vilão das balanças. Bolo gelado de pistache, brigadeiro sem açúcar, torta de queijo assada e muito mais!</p>
<div class="container">
    <br>
    <h2 style="text-align: center;">O MATERIAL É INDICADO PARA</h2>
    <hr align="center"/>
    <br><br>
    <div class="row material-indicado-icons">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/doces-icon1.png" alt="">
            <span>pessoas que desejam 
                perder peso</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/doces-icon2.png" alt="">
            <span>cozinheiros que querem
                aprender a fazer doces
                sem usar açúcar</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/doces-icon3.png" alt="">
            <span>portadores
                de diabetes</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/doces-icon4.png" alt="">
            <span>pessoas que pretendem ter
                uma melhora na saúde e
                qualidade de vida sem abrir
                mão de um docinho</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/doces-icon5.png" alt="">
            <span>pessoas que desejam
                se livrar do açúcar
                por variados motivos</span>
        </div>
    </div>
    <p>
        Ao ler o livro digital, você estará pronto para fazer doces deliciosos sem utilizar o açúcar. É isso mesmo! Aprenda mais de 100 receitas maravilhosas de doces que funcionam sem o vilão das balanças. Com isso, você estará melhorando e prevenindo sua saúde de doenças, além de alegrando o seu humor com aquela gostosura na sobremesa.
    </p>
    <a href="https://go.hotmart.com/E40378695B?ap=a8ea"><img class="btn" src="../../../assets/images/btn-comprar-agora.png" alt=""></a>
</div>
<app-selo></app-selo>
<app-faq></app-faq>
<app-contato></app-contato>
<app-footer></app-footer>
