<div class="container">
    <a [routerLink]="'/'"><img src="../../../assets/images/logo-dois-cucas.png" alt="Logo-DoisCucas" class="mr-auto ml-auto d-block"></a>
    <h3 class="text-center mt-3 text-banner">50 Melhores Receitas de Sucos Detox</h3>
</div>
<a href="https://go.hotmart.com/P40379043L"><img src="../../../assets/images/banner-detox.png" alt="" class="w-100"></a>
<p class="text-center mt-4 text-banner">As melhores receitas de sucos detox em um só lugar! Com esse material, você aprenderá detalhadamente o modo de preparo de cada suco e estará pronto para perder até 12 kg em 30 dias. Escolha a sua fruta favorita e prepare o liquidificador!</p>
<div class="container">
    <br>
    <h2 style="text-align: center;">O MATERIAL É INDICADO PARA</h2>
    <hr align="center"/>
    <br><br>
    <div class="row material-indicado-icons">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/detox-icon1.png" alt="">
            <span>Pessoas com dificuldade 
                para emagrecer</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/detox-icon2.png" alt="">
            <span>Quem não consegue
                emagrecer na academia
                ou outros meios</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/detox-icon3.png" alt="">
            <span>Quem tem vontade excessiva
                em comer</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/detox-icon4.png" alt="">
            <span>Pessoas que procuram uma
                forma natural e segura
                para perder gordura</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/detox-icon5.png" alt="">
            <span>Pessoas que sempre estão
                cansadas e sem disposição</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/detox-icon6.png" alt="">
            <span>Quem já tentou emagrecer
                com remédios e não obteve
                sucesso</span>
        </div>
    </div>
    <p>
        Ao ler o livro digital, além de aprender deliciosas e nutritivas receitas naturais de sucos detox, você irá prevenir o envelhecimento precoce, melhorar o sistema imunológico, diminuir a retenção de líquidos, ter pele e cabelos mais saudáveis e ainda conseguir alcançar o tão sonhado emagrecimento.
    </p>
    <a href="https://go.hotmart.com/P40379043L"><img class="btn" src="../../../assets/images/btn-comprar-agora.png" alt=""></a>
</div>
<app-selo></app-selo>
<app-faq></app-faq>
<app-contato></app-contato>
<app-footer></app-footer>