<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2>NOSSOS CURSOS</h2>
            <hr>
        </div>
        <div class="col-12 row cursos mt-5">
            <div class="col-lg-6 col-sm-12">
                <img src="../../../../../assets/images/cursos1.png" alt="">
                <p class="titulo-cursos">
                    50 Melhores Receitas de Sucos Detox
                </p>
                <span>
                    As melhores receitas de sucos detox em um só lugar! Com esse material, você aprenderá detalhadamente o modo de preparo de cada suco e estará pronto para perder até 12 kg em 30 dias. Escolha a sua fruta favorita e prepare o liquidificador!
                </span>
                <a [routerLink]="'/50-melhores-receitas-sucos-detox'">
                    <img class="btn" src="../../../../../assets/images/btn-inscreva.png" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="../../../../../assets/images/cursos2.png" alt="">
                <p class="titulo-cursos">
                    Pães Caseiros na sua Casa
                </p>
                <span>
                    Dispense a ida diária à padaria mais próxima de você. Veja quão fácil e delicioso é fazer pães caseiros na sua casa, utilizando fermentação natural. Pão italiano, brioche de forma, pão de azeitona, pão francês, massa de pizza e muito mais!
                </span>
                <a [routerLink]="'/paes-caseiros-na-sua-casa'">
                    <img class="btn" src="../../../../../assets/images/btn-inscreva.png" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="../../../../../assets/images/cursos3.png" alt="">
                <p class="titulo-cursos">
                    Seja o Mestre do Espetinho
                </p>
                <span>
                    Transforme-se no Mestre do Espetinho e aprenda mais de 60 receitas detalhadas com quem entende do assunto. Você poderá ser o cara do churrasco ou até mesmo abrir seu negócio. Espetos de carne, frango, peixe, vegetariano, molhos e muito mais!
                </span>
                <a [routerLink]="'/mestre-do-espetinho'">
                    <img class="btn" src="../../../../../assets/images/btn-inscreva.png" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="../../../../../assets/images/cursos4.png" alt="">
                <p class="titulo-cursos">
                    Dieta de Doces Sem Açúcar
                </p>
                <span>
                    Livre-se do açúcar da sua vida sem abandonar os doces! Preparamos um livro com diversas receitas deliciosas e fáceis de fazer, que não utilizam o vilão das balanças. Bolo gelado de pistache, brigadeiro sem açúcar, torta de queijo assada e muito mais!
                </span>
                <a [routerLink]="'/dieta-de-doces-sem-acucar'">
                    <img class="btn" src="../../../../../assets/images/btn-inscreva.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>