<div class="bg-indicados">
    <div class="container" style="height: 100%;">
        <div class="row mt-3 mb-3" style="height: 100%;">
            <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                <div class="col-12 text-center indicados">
                    <h2 class="font-sinta">Indicados</h2>
                    <h3 class="mb-5">PARA QUEM?</h3>
                    <hr class="mb-5">
                    <div class="mt-4 mb-4">
                        <p>ADQUIRA O SEU CURSO FAVORITO <br> AGORA E JUNTE-SE A MAIS DE</p>
                        <p class="contador"><span class="contador" id="contador">{{contador}}</span> <br> <span>PESSOAS</span></p> 
                        <p>QUE JÁ FIZERAM UMA COMPRA <br> PELA  <span class="dois-cucas">DOIS CUCAS!</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mt-5">
                <div class="balao p-2">
                    <div class="balao-texto">
                        <p>Veja abaixo, para quem nossos cursos, treinamentos e outros materiais são indicados:</p>
                        <p>
                            <img src="../../../../../assets/images/desastroso-icon.png" alt=""><span class="balao-titulo">O(A) desastrado(a)</span> <br> <br>

                            Chega de ser um desastre na cozinha! Nossos conteúdos possuem simples didática e aulas de fácil execução, sendo perfeitas até para os mais desastrados.
                        </p>
                        <p>
                            <img src="../../../../../assets/images/brain-icon.png" alt=""><span class="balao-titulo">O(A) sabe-tudo(a)</span> <br> <br>

                            Agregue ainda mais conhecimento em diferentes áreas! Se você é o mestre cuca da família e um expert na cozinha, aproveite e conheça os diversos conteúdos que temos para aprender as dicas dos especialistas.
                        </p>
                        <p>
                            <img src="../../../../../assets/images/apaixonado-icon.png" alt=""><span class="balao-titulo">O(A) apaixonado(a)</span> <br> <br>

                            Dê mais atenção ao seu hobbie! Aprenda receitas únicas e na prática, tornando a experiência de cozinhar mais prazerosa no seu dia a dia.
                        </p>
                        <p>
                            <img src="../../../../../assets/images/casa-icon.png" alt=""><span class="balao-titulo">O(A) dono(a) de casa</span> <br> <br>

                            Aumente a prática e facilite sua rotina! Nossos conteúdos e dicas farão você ter mais habilidade na cozinha, tornando sua vida mais fácil e otimizando seu tempo.
                        </p>
                        <p>
                            <img src="../../../../../assets/images/chefe-icon.png" alt=""><span class="balao-titulo">O(A) profissional</span> <br> <br>

                            Siga carreira na gastronomia! Você irá aprender com profissionais que possuem ampla experiência na área, aumentando sua capacidade para a profissão.
                        </p>
                        <p>
                            <img src="../../../../../assets/images/dinheiro-icon.png" alt=""><span class="balao-titulo">O(A) vendedor(a)</span> <br> <br>

                            Faça uma renda extra! Com nossos conteúdos, você conseguirá aprender receitas simples que poderão servir como fonte de renda extra para sua família.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
