<div class="container">
    <a [routerLink]="'/'"><img src="../../../assets/images/logo-dois-cucas.png" alt="Logo-DoisCucas" class="mr-auto ml-auto d-block"></a>
    <h3 class="text-center mt-3 text-banner">Seja o Mestre do Espetinho</h3>
</div>
<a href="https://go.hotmart.com/X40378899D?ap=ef93"><img src="../../../assets/images/banner-espeto.png" alt="" class="w-100"></a>
<p class="text-center mt-4 text-banner">Transforme-se no Mestre do Espetinho e aprenda mais de 60 receitas detalhadas com quem entende do assunto. Você poderá ser o cara do churrasco ou até mesmo abrir seu negócio. Espetos de carne, frango, peixe, vegetariano, molhos e muito mais!</p>
<div class="container">
    <br>
    <h2 style="text-align: center;">O MATERIAL É INDICADO PARA</h2>
    <hr align="center"/>
    <br><br>
    <div class="row material-indicado-icons">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/espeto-icon1.png" alt="">
            <span>Pessoas que desejam
                aprender a fazer espetinhos
                para ganhar uma renda extra</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/espeto-icon2.png" alt="">
            <span>Pessoas que querem
                aprender diversas e até
                então desconhecidas
                receitas de espetinhos</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/espeto-icon3.png" alt="">
            <span>Amantes da gastronomia
                que querem conhecer mais
                sobre a técnica e o sabor
                dos espetinhos</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/espeto-icon4.png" alt="">
            <span>Churrasqueiros ou
                profissionais do setor
                que precisam buscar
                aprimoramento</span>
        </div>
    </div>
    <p>
        Ao fazer o curso, você se tornará um verdadeiro Mestre do Espetinho! Aprenda a técnica, os segredos e os detalhes de um verdadeiro espetinho, transformando-se no churrasqueiro mais conhecido do seu grupo. Conheça o passo a passo das diferentes receitas, das mais simples até as avançadas, podendo até mesmo abrir um negócio e ganhar uma renda extra.
    </p>
    <a href="https://go.hotmart.com/X40378899D?ap=ef93"><img class="btn" src="../../../assets/images/btn-comprar-agora.png" alt=""></a>
</div>
<app-selo></app-selo>
<app-faq></app-faq>
<app-contato></app-contato>
<app-footer></app-footer>
