<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-12 col-sm-12 mb-5">
            <h2>DEPOIMENTOS</h2>
            <hr>
            <p class="text-center mt-4">Veja alguns dos depoimentos de pessoas que compraram nossos cursos, <br> treinamentos e outros materiais:</p>
        </div>
        <div class="col-lg-12 row mt-5 justify-content-around">
            <div class="col-lg-3 col-sm-12 box-depoimento">
                <div class="img-center">
                    <img src="../../../../../assets/images/aluno2.png" alt="">
                </div>
                <div class="text-center">
                    <p>CLENILDA SANTANA</p>
                    <span>Aluna do Curso</span>
                </div>
                <hr>
                <p class="text-justify mb-3">
                    Tive a felicidade de conhecer a Dois Cucas na internet, pois cozinhar para a minha família ficou muito mais fácil! Quero agradecer toda a equipe, já estou me preparando para iniciar meu próximo curso no mês que vem.  
                </p>
            </div>
            <div class="col-lg-3 col-sm-12 box-depoimento">
                <div class="img-center">
                    <img src="../../../../../assets/images/aluno1.png" alt="">
                </div>
                <div class="text-center">
                    <p>CARLOS BARREIRA</p>
                    <span>Aluno do Curso</span>
                </div>
                <hr>
                <p class="text-justify mb-3">
                    Amo churrasco desde sempre e com a Dois Cucas vi a oportunidade de ser um mestre dos espetinhos. E não deu outra! Agora consigo fazer meu churrasco tradicional com espetinhos que agradam meus amigos e família. Valeu, galera!  
                </p>
            </div>
            <div class="col-lg-3 col-sm-12 box-depoimento">
                <div class="img-center">
                    <img src="../../../../../assets/images/aldelice.png" alt="">
                </div>
                <div class="text-center">
                    <p>ALDELICE GONÇALVES</p>
                    <span>Aluna do Curso</span>
                </div>
                <hr>
                <p class="text-justify mb-3">
                    Livro muito bem explicado e com receitas muito gostosas. Dessa maneira, consegui terminar o curso de pães caseiros e pretendo fazer alguns outros. Parabéns pela qualidade e continuem assim! 
                </p>
            </div>
        </div>
    </div>
</div>