.bg-selo{
    background-color: #F6B118;
    img{
        width: 200px;
    }
    h3{
        color: #58201A;
        font-size: 20px;
        font-weight: bold;
    }
    p{
        font-weight: 500;
    }
}