<div class="bg-selo">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-lg-4 col-sm-12 text-center">
                <img src="../../../../../assets/images/selo.png" alt="">
            </div>
            <div class="col-lg-8 col-sm-12 text-center align-self-center">
                <h3>Satisfação garantida ou seu dinheiro de volta</h3>
                <p>Mesmo sabendo que você irá amar os cursos que disponibilizamos, nós damos garantia total de até 7 dias corridos após sua compra. Ou seja, caso você não goste do conteúdo, você tem esse período para solicitar o reembolso.</p>
            </div>
        </div>
    </div>
</div>