<div class="container">
    <a [routerLink]="'/'"><img src="../../../assets/images/logo-dois-cucas.png" alt="Logo-DoisCucas" class="mr-auto ml-auto d-block"></a>
    <h3 class="text-center mt-3 text-banner ">Pães Caseiros na sua Casa</h3>
</div>
<a href="https://go.hotmart.com/T40379007U"><img src="../../../assets/images/banner-pao.png" alt="" class="w-100"></a>
<p class="text-center mt-4 text-banner">Dispense a ida diária à padaria mais próxima de você. Veja quão fácil e delicioso é fazer pães caseiros na sua casa, utilizando fermentação natural. Pão italiano, brioche de forma, pão de azeitona, pão francês, massa de pizza e muito mais!</p>
<div class="container">
    <br>
    <h2 style="text-align: center;">O MATERIAL É INDICADO PARA</h2>
    <hr align="center"/>
    <br><br>
    <div class="row material-indicado-icons">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/pao-icon1.png" alt="">
            <span>Pessoas que amam pães
                caseiros</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/pao-icon2.png" alt="">
            <span>Pessoas que desejam
                economizar com idas
                diárias à padaria</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/pao-icon3.png" alt="">
            <span>Quem deseja começar a
                vender pães para adquirir
                uma renda extra</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/pao-icon4.png" alt="">
            <span>Curiosos que querem
                aprender receitas
                variadas e até então
                desconhecidas</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../../../assets/images/pao-icon5.png" alt="">
            <span>Quem deseja aprender mais
                sobre a técnica e conceitos
                da massa do pão</span>
        </div>
    </div>
    <p>
        Ao ler o livro digital, você irá aprender de forma rápida e prática a trabalhar com a massa do pão, além de conhecer receitas deliciosas e desconhecidas para muitos brasileiros. Com isso, você poderá economizar dinheiro ou até mesmo garantir uma renda extra com a venda de pães caseiros.
    </p>
    <a href="https://go.hotmart.com/T40379007U"><img class="btn" src="../../../assets/images/btn-comprar-agora.png" alt=""></a>
</div>
<app-selo></app-selo>
<app-faq></app-faq>
<app-contato></app-contato>
<app-footer></app-footer>
