<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2>DOIS CUCAS</h2>
            <hr>
        </div>
        <div class="col-12">
            <img src="../../../../../assets/images/logo-dois-cucas.png" class="mb-4 mt-4">
            <p>
                A Dois Cucas nasceu com o propósito de agregar conhecimento por meio da gastronomia. Criada por dois apaixonados pela arte da culinária, buscamos levar ao nosso público os melhores cursos, treinamentos e outros materiais do segmento, independente de quais forem seus sabores e de diferentes produtores. <br><br>
    
                Aqui, você encontrará diversos tipos de conteúdo que irão aumentar seu conhecimento culinário, aumentando as habilidades de um apaixonado por comidas como nós. Com isso, esperamos que você se transforme em um verdadeiro mestre cuca, tornando o ato de cozinhar mais agradável e quem sabe até, direcionando sua carreira profissional para dentro da gastronomia. <br><br>
                
                Pegue a panela, os ingredientes e os temperos, vamos começar a cozinhar juntos?
            </p>
        </div>
    </div>
</div>